<div class="col-xs-4">
  <h2>O Jogo</h2>
  <div class='subtitle'>O que é o Delibera Mulheres?</div>
  <p>O Delibera Mulheres é um jogo de cartas em que o objetivo é a aprovação de
PL's voltados para o temas do gênero feminino. O jogo simula o trabalho dos
congressistas para a aprovação de projetos de lei na Câmara dos Deputados.</p>
  <div class='subtitle'>Objetivo do jogo</div>
  <p>Com o Delibera, além de aprender noções de como funciona a aprovação de uma
lei, o jogador ainda ficará sabendo dos últimos projetos de lei que têm como
foco as questões que estão sendo debatidas sobre o gênero feminino na Câmara dos
Deputados.</p>
  <div class='subtitle'>Baixe a versão do jogo aqui!</div>
</div>
<div class="col-xs-4">
  <h2>Como jogar?</h2>
  <div class='subtitle'>Disposição das cartas</div>
  <p>O jogo pode ser jogado por <span class="highlight">2 a 4 jogadores</span>.<p>
  <p><span class="highlight">As cartas de PL's</span> devem ser embaralhadas e colocadas para cima em um monte
separado.<p>
  <p><span class="highlight">As cartas de objetivos</span> devem ser embaralhadas e escolhidas de forma que um
jogador não saiba do objetivo do outro. Quem alcançar o objetivo primeiro, ganha
o jogo.</p>
  <p><span class="highlight">As cartas de comissões, de eventos e de
deputados</span> devem ser embaralhadas
juntas e colocadas em um monte único, viradas de cabeça para baixo.</p>
  <p><span class="highlight">Na primeira rodada</span>, cada jogador pega 4 cartas. Porém nas outras rodadas,
cada jogador pega apenas uma.</p>
  <p><span class="highlight">1 PL</span> deve ser retirado do monte e cada jogador deve jogar a fim de
conseguir a pontuação indicada em cada PL.</p>
  <p>Em cada rodada, <span class="highlight">o jogador pode baixar uma carta de deputado e uma carta de
comissão ou de evento. O jogador nunca pode baixar uma carta de comissão e de
evento na mesma rodada</span>. O jogador também pode optar por não baixar nenhuma
carta.
  <p><span class="highlight">Cartas de eventos</span> interferem no processo de
deliberação podendo atrasar ou adiar a aprovação do PL dentre outros efeitos.</p>
  <p><span class="highlight">Cartas de comissões</span> podem ser baixadas
quando o PL da vez for da mesma comissão que o jogador tem em mãos. <span
class="highlight">A carta de plenário pode ser baixada quando o PL tiver
indicação de plenário.</p>
  <p><span class="highlight">Cartas de deputados</span> em geral valem 3 pontos, porém quando o deputado for
da mesma comissão do PL da vez, o deputado valerá 5 pontos.</p>
</div>
<div class="col-xs-4">
  <h2>Quem somos?</h2>
  <div class='subtitle'>Daniela Soares Feitosa</div>
  <p>Bacharel em Ciência da Computação</p>
  <b>Contato:</b> <span
class="highlight">http://gitlab.com/danielafeitosa</span>
  <div class='subtitle'>Gardênia Nogueira Lima</div>
  <p>Formada em Ciência Política e estudante de desenvolvimento de
sistemas.</p>
  <b>Contato:</b> <span class="highlight">http://github.com/garnoli</span>
</div>
