<div class="col-xs-4">
  <h2>O Jogo</h2>
  <div class='subtitle'>O que é o Delibera Mulheres?</div>
  <p>O Delibera Mulheres é um jogo de cartas em que o objetivo é a aprovação de
PL's voltados para o gênero feminino. O jogo simula o trabalho de uma comissão
para a aprovação de um PL na Câmara dos Deputados.</p>
  <div class='subtitle'>Objetivo do jogo</div>
  <p>Com o Delibera, além de aprender noções sobre como funciona a aprovação de uma
lei, o jogador também ficará sabendo dos últimos projetos de lei que têm como
foco as questões que estão sendo debatidas sobre o gênero feminino na Câmara dos
Deputados.</p>
  <div class='subtitle'>Baixe a versão do jogo aqui!</div>
</div>
<div class="col-xs-4">
  <h2>Como jogar?</h2>
  <div class='subtitle'>Disposição das cartas</div>
  <p>O jogo pode ser jogado por <span class="highlight">2 a 8 jogadores</span>.<p>
  <p><span class="highlight">As cartas de PL's</span> devem ser embaralhadas e colocadas para cima em um monte
separado.<p>
  <p><span class="highlight">As cartas de objetivos</span> devem ser embaralhadas e escolhidas de forma que um
jogador não saiba do objetivo do outro. Quem alcançar o objetivo primeiro, ganha
o jogo.</p>
  <p><span class="highlight">As cartas de comissões, de eventos e de
deputados</span> devem ser embaralhadas
juntas e colocadas em um monte único, viradas de cabeça para baixo.</p>
  <p><span class="highlight">Na primeira rodada</span>, cada jogador pega 4 cartas. Porém nas outras rodadas,
cada jogador pega apenas uma.</p>
  <p><span class="highlight">1 PL</span> deve ser retirado do monte e cada jogador deve jogar a fim de
conseguir a pontuação indicada em cada PL.</p>
  <p><span class="highlight">Cartas de comissões e de eventos</span> nunca devem ser jogadas juntas. Porém, <span class="highlight">o
jogador deve baixar uma carta de evento junto com uma de deputado</span>.</p>
  <p><span class="highlight">Cartas de eventos</span> atrasam ou adiam a aprovação do PL.</p>
  <p><span class="highlight">Cartas de comissões</span> devem ser baixadas quando o PL da vez for da mesma
comissão que o jogador tem em mãos.</p>
  <p><span class="highlight">Cartas de deputados</span> em geral valem 3 pontos, porém quando o deputado for
da mesma comissão do PL da vez, o deputado valerá 5 pontos.</p>
</div>
<div class="col-xs-4">
  <h2>Quem somos?</h2>
  <div class='subtitle'>Daniela Soares Feitosa</div>
  <p>Bacharel em Ciência da Computação</p>
  <b>Contato:</b> <span
class="highlight">http://gitlab.com/danielafeitosa</span>
  <div class='subtitle'>Gardênia Nogueira Lima</div>
  <p>Formada em Ciência Política e estudante de desenvolvimento de
sistemas.</p>
  <b>Contato:</b> <span class="highlight">http://github.com/garnoli</span>
</div>
