<h2>Notas para os usuários</h2>

<p>O jogo Delibera Mulheres foi desenvolvido durante o Hackathon de Gênero e
Cidadania que ocorreu no período de 24/11/2014 a 28/11/2014, na Câmara dos
Deputados, Brasília-Distrito Federal.</p>

<p>O Hackathon é uma maratona que reúne hackers, programadores, desenvolvedores e
inventores para criar projetos que transformem informações de interesse público
em soluções digitais, acessíveis a todos os cidadãos.</p>

<p>Os participantes do Hackathon de Gênero e Cidadania tiveram o desafio de
desenvolver aplicativos para contribuir na redução da violência contra a
mulher e fortalecer as políticas de gênero.</p>

<p>O jogo Delibera Mulheres foi baseado no <a
href="http://deliberatorio.com.br"><span class='highlight'>Deliberatório</span></a>, um jogo de cartas que foi desenvolvido
durante a Maratona Hacker da Câmara dos Deputados de 2013.</p>

<h3>Hospedagem</h3>

<p>Temporiamente, o Delibera Mulheres ficará disponível na plataforma Heroku,
no seguinte endereço: <a href='http://deliberamulheres.herokuapp.com'><span
class='highlight'>http://deliberamulheres.herokuapp.com</span></a></p>

<p>Em breve, utilizaremos o seguinte domínio oficial, que é vinculado ao Deliberatório:
<a href='http://mulheres.deliberatorio.com.br'><span
class='highlight'>http://mulheres.deliberatorio.com.br</span></a></p>

<h3>Autenticação e área para os desenvolvedores</h3>

<p>A seção do site que mostra os dados utilizados para gerar as cartas será de
uso exclusivo dos administradores do jogo. Enquanto a aplicação estiver sendo
analisada pela comissão avaliadora, os dados ficarão disponíveis para quem
quiser visualizar ou testar a edição dos itens. As cartas disponíveis para
download no site foram geradas no dia 05/12/2014.</p>

<p>A partir de 01/01/2015 o Delibera Mulheres ativará a autenticação no site e
apenas os usuários com login, senha e papel de administrador poderão alterar as
informações e poderão criar, editar e remover cartas. Assim como o jogo de base, o Deliberatório,
disponibilizaremos uma nova versão do jogo à cada semana, utilizando os dados
atualizados da API da Câmara dos Deputados e as cartas de Objetivos e Eventos
cadastradas na aplicação.</p>
