<h2>Sobre nós</h2>

<h3>Daniela Soares Feitosa</h3>
<p>Bacharel em Ciência da Computação, desenvolvedora de software</p>
<b>Links:</b>
<ul>
  <li><span class="highlight">Repositório de código:</span>
http://gitlab.com/danielafeitosa</li>
  <li><span
class="highlight">Twitter:</span>https://twitter.com/danifeitosa</li>
</ul>

<h3>Gardênia Nogueira Lima</h3>
<p>Formada em Ciência Política e estudante de desenvolvimento de
sistemas.</p>
<b>Links:</b>
<ul>
  <li><span class="highlight">Repositório de código:</span>
http://gitlab.com/garnoli</li>
</ul>

<h3>Apresentação</h3>

<p>Apresentação realizada no dia 28/11/2014 durante o Hackathon de Gênero e
Cidadania na Câmara dos Deputados, Brasília, Distrito Federal:</p>

<object data="/apresentacao.svg" type="image/svg+xml">
  Apresentação em SVG sobre o Delibera Mulheres
</object>

<h3>Contato</h3>

<span class="highlight">deliberamulheres@gmail.com</span>

<p><img src="/assets/nos-thumb.jpg" alt="Foto de Daniela e Gardênia no Hackathon"
height="345px" width="600px"></p>
