/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

footer { margin-top: 100px; }
table, td, th { vertical-align: middle !important; border: none !important; }
th { border-bottom: 1px solid #DDD !important; }

.navbar {
  height: 200px;
  border-top: 2px solid #800080;
  background: #e7dcea url('../../assets/top-bg.png') no-repeat center center;
}

.scrolled-gt30 .navbar {
  transition: 1s ease-in-out 0s;
  height: 30px;
  min-height: 40px;
  background: #e7dcea
url('../../assets/logo-deliberamulheres-horizontal.png') no-repeat 10px 5px;
}

.navbar-inner {
  position: absolute;
  bottom: -40px;
  width: 100%;
  background-image: none !important;
  background-color: #fcac36 !important;
  border-top: 2px solid #a44ea5 !important;
  border-bottom: 2px solid #a44ea5 !important;
}

.scrolled-gt30 .navbar-inner {
  min-height: 30px;
}

.navbar .nav > li > a {
  color: #666 !important;
  font-size: 14px;
  text-shadow: unset !important;
}

.navbar-inner .container.nav-collapse {
  line-height: 0px;
  position: relative;
}

.game-goal {
  font-size: 18px;
  position: absolute;
  right: 0px;
  bottom: 18px;
}

.scrolled-gt30 .game-goal {
  padding-top: 5px;
}

#content.container {
  margin-top: 240px;
}

.scrolled-gt30 #content.container {
  margin-top: 170px;
}

#content .col-xs-4 h2 {
  color: #a44ea5;
}

#content .col-xs-4 .subtitle {
  font-size: 19px;
  line-height: 30px;
  margin: 10px 0px;
}

#content .highlight {
  font-weight: bold;
  color: #fc7002;
}

select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
  font-size: 12px !important;
}

footer {
}
