/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table, td, th { vertical-align: middle !important; border: none !important; }

.navbar {
  height: 200px;
  border: none !important;
  background: #e7dcea url('../../assets/top-bg.png') no-repeat center center;
}

.scrolled-gt30 .navbar {
  transition: 1s ease-in-out 0s;
  height: 30px;
  min-height: 40px;
  background: #e7dcea
url('../../assets/logo-deliberamulheres-horizontal.png') no-repeat 10px 5px;
}

.navbar-inner {
  position: absolute;
  bottom: -40px;
  width: 100%;
  background-image: none !important;
  background-color: #fcac36 !important;
  border: none !important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3) !important;
}

.scrolled-gt30 .navbar-inner {
  min-height: 30px;
}

.navbar .nav > li > a {
  color: #666 !important;
  font-size: 14px;
  text-shadow: unset !important;
}

.navbar .nav > li > a:hover {
  text-shadow: 0px 0px 1px #B52, 1px 1px 1px #FED !important;
}

#content .nav > li > a:hover,
#content .nav > li > a:focus {
  background-color: #57016d !important;
}

.navbar-inner .container.nav-collapse {
  line-height: 0px;
  position: relative;
}

.game-goal {
  font-size: 18px;
  text-align: center;
  color: #BBB;
}

.scrolled-gt30 .game-goal {
  padding-top: 5px;
}

#content.container {
  margin-top: 250px;
  min-height: 300px;
}

.scrolled-gt30 #content.container {
  margin-top: 140px;
}

#content h2 {
  color: #a44ea5;
}

#content .col-xs-4 .subtitle {
  font-size: 19px;
  line-height: 30px;
  margin: 10px 0px;
}

#content .highlight {
  font-weight: bold;
  color: #fc7002;
}

#content a .highlight {
  text-decoration: underline;
}

#content a:hover .highlight {
  color: #FFF;
  background-color: #FC7002;
}

select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
  font-size: 12px !important;
}

a.download,
a.download:visited {
  background: linear-gradient(to bottom, #E7DCEA, #A44EA5) repeat scroll 0% 0% #E7DCEA;
  border-radius: 6px;
  color: #FFF;
  font-size: 20px;
  padding: 10px 20px;
  height: auto;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

a.download:hover {
  box-shadow: 0px 0px 2px #A44EA5;
  text-decoration: none;
}

object {
  width: 32em;
  height: 24em;
  border: 2px solid #EEE;
}

a.github {
  background: transparent url('../../assets/github-32px.png') no-repeat center center;
  width: 32px;
  height: 32px;
  display: inline-block;
}

a.github:hover {
  background-color: transparent;
}

.github span {
  display: none;
}

footer {
  margin-top: 10px;
  border-top: 1px solid #CCC;
  padding: 10px;
}

footer span {
  display: inline-block;
  vertical-align: super;
}
